* {
    border: none;
    font-family: "Fixedsys", "MS Sans Serif", "JetBrainsMono Nerd Font";
    font-size: 13px;
    border-radius: 0; /* Lo retro es cuadrado */
}

window#waybar {
    background: #c0c0c0; /* Gris clásico de Windows 95 */
    color: #000000;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #808080;
}

#custom-start {
    background: #c0c0c0;
    color: #000;
    padding: 0 10px;
    margin: 2px;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #404040;
    border-bottom: 2px solid #404040;
    font-weight: bold;
}

#custom-start:hover {
    background: #808080;
}

#workspaces button {
    color: #000;
    padding: 0 8px;
    margin: 2px;
    background: #c0c0c0;
    border-top: 2px solid #808080;
    border-left: 2px solid #808080;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

#workspaces button.active {
    background: #808080;
    border-top: 2px solid #404040;
    border-left: 2px solid #404040;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
}

#clock {
    background: #000080; /* Azul marino clásico */
    color: #ffffff;
    padding: 0 15px;
    margin: 3px 0;
    border: 1px inset #ffffff;
}

#cpu, #memory, #pulseaudio, #battery {
    padding: 0 10px;
    background: #c0c0c0;
    border-left: 1px solid #808080;
}

#tray {
    background: #c0c0c0;
    padding: 0 5px;
    border-left: 2px inset #ffffff;
}
